<template>
    <section>
        <sline title="关于" size="big"></sline>
        <p class="fsize14 pt15">slot,插槽，onBeforeRouteLeave</p>
        <p class="fsize14 pt15">watch,props传值，必须先定义要接收的props:[propName]，否则接收不到</p>
        <p class="fsize14 pt15">本框架同时提供了基于Vue2.x + Webpack4的框架，代号兰陵王，<a href="http://lanling.diumx.com" class="fcblue" target="blank">去了解一下</a></p>
    </section>
</template>
<script>
export default {
	name:'/json',
}
</script>
