<template>
    <section class="dashboard bgfff center">
		<img class="nothing" src="/img/nothing.png" alt="">
	</section>
</template>
<script lang="ts">
import { onMounted } from 'vue'
export default {
	name: '/',
	setup() {
		onMounted(() => {
			console.log('hello, dashboard~~~')
		})
	}
}
</script>
<style lang="less">
.dashboard {
    img {
        width: 400px;
    }
}
</style>